@(userForm: Form[controllers.User])

@main("Edit") {
    
   <a href="@routes.Application.index()">Back</a>
    
   <form action="@routes.Application.saveUser()" method="POST">
   
   	@userForm.forField("_id") { field =>
	      <input type="hidden" name="@field.name" 
	      value="@{field.value match {
	      	case Some(str) => str
	      	case None => new org.bson.types.ObjectId() 
	      	}}">
	      @field.error.map { error =>
	        <p class="error">
	          @error
	        </p>
	      } 
	    }  
   
    <p>
	    @userForm.forField("name") { field =>
	      <label>@field.name</label>
	      <input type="text" name="@field.name" value="@field.value">
	      @field.error.map { error =>
	        <p class="error">
	          @error
	        </p>
	      } 
	    }    
  </p>
  
  <p>
    @userForm.forField("pwd") { field =>
      <label>@field.name</label>
      <input type="password" name="@field.name" value="@field.value">
      @field.error.map { error =>
        <p class="error">
          @error
        </p>
      } 
    }    
  </p>
  
   <p>
    @userForm.forField("email") { field =>
      <label>@field.name</label>
      <input type="text" name="@field.name" value="@field.value">
      @field.error.map { error =>
        <p class="error">
          @error
        </p>
      } 
    }    
  </p>
  
  <p>
    @userForm.forField("address.street") { field =>
      <label>@field.name</label>
      <input type="text" name="@field.name" value="@field.value">
      @field.error.map { error =>
        <p class="error">
          @error
        </p>
      } 
    }    
  </p>
  
  <p>
    @userForm.forField("address.city") { field =>
      <label>@field.name</label>
      <input type="text" name="@field.name" value="@field.value">
      @field.error.map { error =>
        <p class="error">
          @error
        </p>
      } 
    }    
  </p>
  
  <input type="submit" value="Submit" />
</form>
}